<h2>Editar expediente</h2>

<%= render "form.html", Map.put(assigns, :action, brand_expedient_path(@conn, :update, @brand_expedient)) %>

<span><%= link "Atrás", to: brand_expedient_path(@conn, :index_by_client_id, @client.id) %></span>
